{% extends "base.html" %}
{%block content%}
{%load static%}

<div class="div_159">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Rasm</th>
        <th scope="col">Maxsulot nomi</th>
        <th scope="col">Rangi</th>
        <th scope="col">Razmeri</th>
        <th scope="col">Narxi</th>
        <th scope="col">Soni</th>
        <th scope="col">Jami</th>
        <th><a class="btn btn-success" href="{% url 'shop'%}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="27" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg> Qo'shish</a></th>
      </tr>
    </thead>
    <tbody>
      {%for i in like%}
      <tr>
        <td><a href="{%url 'shop-single' i.slug%}"><img style="width: 50px; height: 50px;" src="{{ i.rasm.url }}" alt=""></a></td>
        <td>{{i.title}}</td>
        <td>{{i.rang}}</td>
        <td>{{i.razmer}}</td>
        <td>${{i.narx}}.00</td>
        <td>{{i.soni}}</td>
        <td>{{i.jami}}</td>
        <td><a type="button" href="{%url 'delete_bascet' i.id%}" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
        </svg> O'chirish</a></td>
      </tr>
      {% endfor %}
      <tr>
        <td></td><td></td><td></td><td></td><td></td><td>Jami:</td>
        <td>${{jami1}}.00</td>
        <td><a class="btn btn-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
          <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
        </svg> To'lash</a></td>
      </tr>
      
     
    </tbody>
  </table>
</div>



{% endblock %}